# Compiled binaries
bin/
obj/

# Debug info
*.o
*.d

# OS-specific
.DS_Store
Thumbs.db

# Config local (optional but good to have)
*.ini.local

# Editor-specific files (Vim/Neovim)
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-rt-v][a-z]
[._]ss[a-gi-z]
[._]uv[a-z]
[._]sw?
[._]*.un~
undo/
.netrwhist
*~

